<a href="https://colab.research.google.com/github/ambitama-poddar/Machine-Learning-Practicals/blob/main/DA_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**-Submitted by Ambitama Poddar(22MCA0106)**

##**1a. NAND gate simulation**##

In [ ]:
import tensorflow as tf
import numpy as np

In [ ]:
X1=tf.Variable(initial_value=[0.,1.,0.,1.])
X2=tf.Variable(initial_value=[0.,0.,1.,1.])
Y_NAND=tf.Variable(initial_value=[1.,1.,1.,0.])

In [ ]:
#Defining the model
class Model(object):

   def __init__(self):
        self.W1 = tf.Variable(initial_value=tf.random.normal([1]))
        self.W2 = tf.Variable(initial_value=tf.random.normal([1]))
        self.b = tf.Variable(initial_value=tf.random.normal([1]))

   def __call__(self, x1,x2):
        self.K1=self.W1 * x1 + self.W2 * x2 + self.b
        self.Output = tf.keras.activations.sigmoid(self.K1)
        return(self.Output)

model=Model()

In [ ]:
#Cost function
def compute_cost(target_y, predicted_y):
    c=tf.keras.losses.BinaryCrossentropy()
    return(c(target_y,predicted_y))

In [ ]:
def None_to_Zero(v):
    if v==None:
        v=0
    return v

In [ ]:
def train(model, X1, X2, Y2, learning_rate):
    with tf.GradientTape() as t:
        current_loss = compute_cost(Y2, model(X1, X2))
    dW1, dW2, db = t.gradient(current_loss, [model.W1, model.W2, model.b])
    dW1 = None_to_Zero(dW1)
    db = None_to_Zero(db)
    dW2 = None_to_Zero(dW2)
    model.W1.assign_sub(learning_rate * dW1)
    model.b.assign_sub(learning_rate * db)
    model.W2.assign_sub(learning_rate * dW2)

In [ ]:
epochs = range(1000)
learning_rate = 0.1
for epoch in epochs:
    train(model, X1, X2, Y_NAND, learning_rate)

# Once the training is done we can find results by calling the Model Class object as
print(np.round(model(X1, X2).numpy()))

[1. 1. 1. 0.]

In [ ]:
W_NAND = {'W1': round(model.W1.numpy()[0], 6),
          'W2': round(model.W2.numpy()[0], 6),
          'b': round(model.b.numpy()[0], 6)}

In [ ]:
W_NAND

{'W1': -3.267508, 'W2': -3.278778, 'b': 5.120152}

##**1b. Three input AND gate simulation**

> Indented block

In [ ]:
X1 = tf.Variable(initial_value=[0., 0., 0., 0., 1., 1., 1., 1.])
X2 = tf.Variable(initial_value=[0., 0., 1., 1., 0., 0., 1., 1.])
X3 = tf.Variable(initial_value=[0., 1., 0., 1., 0., 1., 0., 1.])
Y_AND = tf.Variable(initial_value=[0., 0., 0., 0., 0., 0., 0., 1.])

In [ ]:
class Model(object):
    def __init__(self):
        self.W1 = tf.Variable(initial_value=tf.random.normal([1]))
        self.W2 = tf.Variable(initial_value=tf.random.normal([1]))
        self.W3 = tf.Variable(initial_value=tf.random.normal([1]))
        self.b = tf.Variable(initial_value=tf.random.normal([1]))

    def __call__(self, x1, x2, x3):
        self.K1 = self.W1 * x1 + self.W2 * x2 + self.W3 * x3 + self.b
        self.Output = tf.keras.activations.sigmoid(self.K1)
        return self.Output


model = Model()

In [ ]:
def compute_cost(target_y, predicted_y):
    c = tf.keras.losses.BinaryCrossentropy()
    return c(target_y, predicted_y)

In [ ]:
def None_to_Zero(v):
    if v == None:
        v = 0
    return v

In [ ]:
def train(model, X1, X2, X3, Y, learning_rate):
    with tf.GradientTape() as t:
        current_loss = compute_cost(Y, model(X1, X2, X3))
    dW1, dW2, dW3, db = t.gradient(current_loss, [model.W1, model.W2, model.W3, model.b])
    dW1 = None_to_Zero(dW1)
    dW2 = None_to_Zero(dW2)
    dW3 = None_to_Zero(dW3)
    db = None_to_Zero(db)
    model.W1.assign_sub(learning_rate * dW1)
    model.W2.assign_sub(learning_rate * dW2)
    model.W3.assign_sub(learning_rate * dW3)
    model.b.assign_sub(learning_rate * db)

In [ ]:
epochs = range(1000)
learning_rate = 0.1
for epoch in epochs:
    train(model, X1, X2, X3, Y_AND, learning_rate)

# Once the training is done we can find results by calling the Model Class object as
print(np.round(model(X1, X2, X3).numpy()))

[0. 0. 0. 0. 0. 0. 0. 1.]

In [ ]:
W_AND = {'W1': round(model.W1.numpy()[0], 6),
          'W2': round(model.W2.numpy()[0], 6),
          'W3': round(model.W2.numpy()[0], 6),
          'b': round(model.b.numpy()[0], 6)}

In [ ]:
W_AND

{'W1': 1.66501, 'W2': 1.69476, 'W3': 1.69476, 'b': -4.936831}

#**2. Implementing a neural network model to classify the Penguin Species dataset**

In [ ]:
import pandas as pd
import numpy as np
import os

# Plotting libraries
import matplotlib.pyplot as plt


# SKLearn libraries
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

# Tensorflow libraries
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential

In [ ]:
# Data file path
FILE_PATH = 'penguins_lter.csv'

# Dataframe from csv file
penguins_data = pd.read_csv(FILE_PATH, header=0)

In [ ]:
penguins_data.info()
print("=="*40)
penguins_data.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   studyName            344 non-null    object
 1   Sample Number        344 non-null    int64
 2   Species              344 non-null    object
 3   Region               344 non-null    object
 4   Island               344 non-null    object
 5   Stage                344 non-null    object
 6   Individual ID        344 non-null    object
 7   Clutch Completion    344 non-null    object
 8   Date Egg             344 non-null    object
 9   Culmen Length (mm)   342 non-null    float64
 10  Culmen Depth (mm)    342 non-null    float64
 11  Flipper Length (mm)  342 non-null    float64
 12  Body Mass (g)        342 non-null    float64
 13  Sex                  334 non-null    object
 14  Delta 15 N (o/oo)    330 non-null    float64
 15  Delta 13 C (o/oo)    331 non-null    float64
 16  Comments             26 non-null     object
dtypes: float64(6), int64(1), object(10)
memory usage: 45.8+ KB
================================================================================

,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Comments
0,PAL0708,1,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A1,Yes,11/11/07,39.1,18.7,181.0,3750.0,MALE,NaN,NaN,Not enough blood for isotopes.
1,PAL0708,2,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A2,Yes,11/11/07,39.5,17.4,186.0,3800.0,FEMALE,8.94956,-24.69454,NaN
2,PAL0708,3,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A1,Yes,11/16/07,40.3,18.0,195.0,3250.0,FEMALE,8.36821,-25.33302,NaN
3,PAL0708,4,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A2,Yes,11/16/07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adult not sampled.
4,PAL0708,5,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N3A1,Yes,11/16/07,36.7,19.3,193.0,3450.0,FEMALE,8.76651,-25.32426,NaN
5,PAL0708,6,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N3A2,Yes,11/16/07,39.3,20.6,190.0,3650.0,MALE,8.66496,-25.29805,NaN
6,PAL0708,7,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N4A1,No,11/15/07,38.9,17.8,181.0,3625.0,FEMALE,9.18718,-25.21799,Nest never observed with full clutch.
7,PAL0708,8,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N4A2,No,11/15/07,39.2,19.6,195.0,4675.0,MALE,9.46060,-24.89958,Nest never observed with full clutch.
8,PAL0708,9,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N5A1,Yes,11/9/07,34.1,18.1,193.0,3475.0,NaN,NaN,NaN,No blood sample obtained.
9,PAL0708,10,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N5A2,Yes,11/9/07,42.0,20.2,190.0,4250.0,NaN,9.13362,-25.09368,No blood sample obtained for sexing.

In [ ]:
X = penguins_data.loc[:, penguins_data.columns != 'Species']
y = penguins_data.loc[:, ['Species']]

In [ ]:
penguins_data.drop("studyName", axis=1, inplace = True)
penguins_data.drop("Sample Number", axis=1, inplace = True)

In [ ]:
# Data preprocessing
# Handling missing values by dropping rows with missing values
penguins_data.dropna(inplace=True)

##Preparing dataset

In [ ]:
y_enc = LabelEncoder().fit_transform(y)
# Converting the label into a matrix form
y_label = tf.keras.utils.to_categorical(y_enc)

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
# Separate the feature matrix (X) and target variable (y)
X = penguins_data.drop(['Species'], axis=1)
y = penguins_data['Species']

In [ ]:
# One-hot encode the target variable (y)
y = pd.get_dummies(y)

In [ ]:
# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [ ]:
print(f"Train shape : {X_train.shape}, Y Train : {y_train.shape}")
print(X_train.shape[1:])

Train shape : (9, 14), Y Train : (9, 1)
(14,)

In [ ]:
# Convert y_train and y_test to NumPy arrays
X_train = np.array(X_train)
X_test = np.array(X_test)
y_train = np.array(y_train)
y_test = np.array(y_test)

In [ ]:
def get_model():
    model = Sequential([
        keras.layers.Input(shape=X_train.shape[1:]),
        keras.layers.Dense(500, activation='relu'),
        keras.layers.Dense(200, activation='relu',),
        keras.layers.Dense(3, activation='softmax')
    ])

    return model

In [ ]:
model = get_model()

# Compile the model
model.compile(optimizer='adam',
              loss=keras.losses.CategoricalCrossentropy(),
             metrics=['accuracy'])

In [ ]:
model.summary()

Model: "sequential_7"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_21 (Dense)            (None, 500)               7500

 dense_22 (Dense)            (None, 200)               100200

 dense_23 (Dense)            (None, 3)                 603

=================================================================
Total params: 108,303
Trainable params: 108,303
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# history = model.fit(X_train, y_train, epochs=30, validation_data=(X_test, y_test), verbose=1)

# Train the model
history = model.fit(X_train, y_train, epochs=30, batch_size=32, validation_data=(X_test, y_test))

ValueError: ignored